* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 100vh;
	width: 100%;
	background: #8C7064;
}
.bodyhome {
	height: 100vh;
	width: 100%;
	background: #9F8170;
}
.navContainer {
    position: center;
    height: auto;
    width: 100%;
}

.navigation {
    list-style-type: none;
    background-color: #333;
    position: sticky;
    width: 100%;
    overflow: auto;
}

.navigation li a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333;
}

.navigation li:hover a:not(.active) {
    background-color: #D3D3D3;
    color: #000;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.containerhome {
	background: #9F8170;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70%;
	width: 100%;
}


.loginBox {
	background: #9F8170;
	padding: 100px 100px 50px 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 30%;
	font-size: 14px;
	border-radius: 5px;
}

.icon {

	display: grid;
	place-items: center;
	justify-content: center;
	position: relative;
	outline: 0px;
	flex-direction: column;
	padding-bottom: 3%;

	
}

.iconText{
	text-align: center;
	justify-content: center;
	position: relative;
	outline: 0px;
	flex-direction: column;
	padding-bottom: 5%;

}

.title{
	padding-bottom: 5%;
}

.i {
	font-size: 40px;
	color: #FFF;
}

.login {
	width: 100%;
}

.elements {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	width: 100%;
	text-decoration: none;

}

.inputBoxes{
	font-size: 16px;
	outline: none;
	width: calc(100% - 36px);
	border: 2px solid #CCC;
	padding: 16px;
	border-radius: 2px;
	transition: all 0.3s ease;
}

.inputBoxes:hover{
	border: 2px solid #242112;
}

.button {
	outline: none;
	background: #242124;
	color: #FFF;
	padding: 16px;
	display: block;
	width: 100%;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease;
	text-align: center;
	text-decoration: none;

}
.buttonOutter {
	text-decoration: none;
	color: #242124;
}
.buttonOutter:-webkit-any-link {
	text-decoration: none;
	color: inherit;
  }
.centeredLink{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #242124
}

.button:hover {
	box-shadow: 5px 5px 5px #242112;
}

.a {
	text-decoration: none;
	color: #242124;
}

.a:hover {
	text-decoration: none;

	color: #FFF;
}
