<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Groups</title>
	<link rel="stylesheet" href="group.css">
</head>

<body>
	<div className="container">
		<div className="info-box">
			<form className="info">
				<!-- <img src="math-horizontal-banner-presentation-website-260nw-1859813464.jpg.webp" class = "center" alt="Girl in a jacket" > -->
				<div className="Img-placeholder"></div>
				<h1 className="center">Group Name</h1>


				<div className="elements">
					<p className="center">This is the lengthy Description of the group yatta yatta yatta yatta yatta yatta yatta</p>
				</div>

				<div className="footer">
					<button>Create</button>
					<button>Create</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>