<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="profile.css">
</head>

<body>
	<div class="container">
		<div class="login-box">
			<div class="tittle">
				<h1>Users account</h1>
			</div>
			<form class="login">
				<section>
					<span class="icon">
						<img
							src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/default-avatar.png">
					</span>
					<div class = "label-group">
						<div class="elements">
							<input type="text" placeholder="Username" class="inputBoxes">
						  </div>
						  <div class="elements">
							<input type="text" placeholder="First Name" class="inputBoxes">
						  </div>
						  <div class="elements">
							<input type="text" placeholder="Last name" class="inputBoxes">
						  </div>
						  <div class="elements">
							<input type="text" placeholder="Email"  class="inputBoxes">
						  </div>
					</div>
					
					
			</form>
			<div class="button-group">
				<button class="small-button">Save</button>
				<button class="small-button">Cancel</button>
			</div>
			</section>

			<div class="elements">
				<a href="/Project/frontend/templates/frontend/login/login.html" class="centered-link">Sign into another
					account</a>
			</div>
			</form>
		</div>
	</div>
</body>

</html>