<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Groups</title>
	<link rel="stylesheet" href="scheduleMeeting.css">
</head>

<body>
	<div class="container">

		<div class="info-box">
			<div class = "header">
				<h2 class="tittle">Available Starting Days times for *Insert Date here*</h2>
			</div>
			<div class="example"></div>
			
			<div class = "tableGrid">
				<div class ="button-group">
					<button>Time 1</button>
					<button>Time 2</button>
				</div>
				<div class ="button-group">
					<button>Time 3</button>
					<button>Time 4</button>
				</div>
				<div class ="button-group">
					<button>Time 5</button>
					<button>Time 6</button>
				</div>
				<div class ="button-group">
					<button>Time 7</button>
					<button>Time 8</button>
				</div>
			</div>
			<div class = "center">
				<button class ="center-button">Confirm Time</button>
				
			</div>
			
		</div>
	</div>
</body>

</html>