.navbar-default {

    background-color:#000000;
    
    }
.color-nav{
    z-index: 10;
    background-color: #2B2827;
}
.color-nav-item{
    color: white;   
    /* background-color: #2B2827; */

}

/* .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #3344ff;
    color:black;
  } */