/* * {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
} */

/* body {
	height: 100vh;
	width: 100%;
	background: #6A6C6E;
} */

.containergroupcard{
	/* margin-top: 20%;
	margin-right: 10%; */
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 125%;
	width: auto; */
	background: #6A6C6E;

}

.Imgplaceholder{
	/* position: relative; */
	border-radius: 5px 5px 0px 0px;
	margin-top: -20%;
	background-color: white;
	height: 150px;
	width: 300px;
	margin-left: 0%;
	margin-bottom: 10%;
}
.infoboxgroupcard {
	background: #9F8170;
	/* padding: 100px 100px 50px 100px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 400px;
	width: 300px;
	font-size: 12px;
	border-radius: 5px;
}


.tittle{
	padding-bottom: 5%;
}


.info {
	width: 100%;
}

.elements {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* .footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
} */

.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	outline: none;
	position:relative;
	padding: 16px;
	width: 100%;
}

.button{
	margin: auto;
	justify-content: center;
	padding: 16px;
	border-radius: 5px;
	background-color: #6A6C6E;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease;
	
}
.inputBoxes{
	font-size: 16px;
	outline: none;
	width: calc(100% - 36px);
	border: 2px solid #CCC;
	padding: 16px;
	border-radius: 2px;
	transition: all 0.3s ease;
	height: 75%;
}

.inputBoxes:hover{
	border: 2px solid #242112;
}
.small-button{
	
	width: 100%;
	display: inline;
	color: #FFF;
	vertical-align:middle;
	
}

button {
	
	display: inline-block;
	flex-direction: column;
	justify-content: center;
	outline: none;
	position:relative;

	padding: 16px;

	border: none;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.button:hover {
	box-shadow: 5px 5px 5px #242112;
}

.center {
	top: 150%;
	display: flex;
	margin: auto;
	padding: 10px;
	margin-left: 5%;
  }
/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
	background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
  }
