* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

/* body {
	height: 100vh;
	width: 100%;
	background: #6A6C6E;
} */

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	/* height: 64vh; */
	width: 1000px;
	margin-top: 5%;
	/* margin-left: 15%; */
	overflow-y: scroll;
}::-webkit-scrollbar {
	display:none;
}

.infoBox {
	/* background: #2B2827; */
	padding: 30px 100px 0px 100px;
	display: flex;
	flex-direction: column;
	position: relative;
	height: 64vh;
	/* width: 500px; */
	font-size: 12px;
	border-radius: 5px;
	/* padding-bottom: 100px; */
}

.header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.tittle{
	font-size: 25px;
	margin-left: 5%;
	margin-top: 1%;
	float : right;
	color: white;
}

.uploadDate{
	font-size: 25px;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 1%;
	float: left;
	color: white;

}
.example {
	border: 1px solid #000;
	height: 0px;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	justify-content: space-between;
  }
  .example::after {
	content: " ";
	display: block;
	position: absolute;
	background: black;
	
  }
  .materialGroup{
	flex-direction: column;
	display: flex;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
  }

.buttonContainer{
	display: flex;
	flex-direction: row;
	align-items: center;

}
.buttonContainerTextType{
	color: white;
	width: fit-content;
	width: 15%;
	font-size: 12px;
}
.buttonContainerTextDesc{
	color: white;
	width: fit-content;
	flex-grow: 1;
	font-size: 14px;

}


  .button {

	border-radius: 15px;
	margin-top: 1%;
	display: inline-block;
	flex-direction: column;
	justify-content: center;
	outline: none;
	position:relative;
	width: fit-content;
	background-color: #A7916D;
	border-color: #A7916D;
}
.button:hover {
	background-color: #A7916D;
	border-color: #A7916D;
	box-shadow: 5px 5px 5px #242112;
}
.moduleContainer{
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #2B2827;
	border-radius: 15px;
}

.create{
	margin-left: 33%;
	width: 33%;
	height: auto;
	background-color: #A7916D;
	border-color: #A7916D;
	border-radius: 15px;
}::hover{
	background-color: #A7916D;
	border-color: #A7916D;
}