.studyGroupContainer{
    height: 100vh;
	width: 100%;
    background: #8C7064;
}

.studyGroupLayout{
    /* height: 100vh;
	width: 80%; */
	background: #8C7064;
    width: 80%;
    margin-left: 15%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.groupCardContainer{
    margin-right: 5%;
}