<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="sidebar.css">
</head>

<body>
  <div class="container">
    <div class="login-box">
      <div class="tittle">
        <h1>Quick Links</h1>
      </div>
      <form class="login">
        <section>
            <button class="button">Link 1</button>
            <button class="button">Link 2</button>
            <button class="button">Link 3</button>
            <button class="button">Link 4</button>

            <div class ="button-group">
              <button class="small-button">Active Scholarships</button>
              <button class="small-button">Active Study Groups</button>
			  <button class="small-button">Archive</button>
            </div>
        </section>
      </form>
    </div>
  </div>
</body>

</html>