.containerhome {
	/* background: #9F8170; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	height: 70%;
	width: 100%;
}
.containerLeft{
    /* background-color: antiquewhite; */
    height: 100%;
    width: 15%;
    margin-top: 5%;
    margin-left: 3%;
    /* transform: translateY(-50%); */
}
.containerMiddle{
    margin-top: 5%;
    /* transform: translateY(-50%); */
    height: 130%;
    width: 70%;
    display: flex;
	flex-direction: column;
	position: relative;
    font-size: 14px;
	border-radius: 5px;
}
.containerRight{
    /* background-color: blue; */
    height: 100%;
    width: 15%;
    margin-top: 50%;
    transform: translateY(-50%);
}
.bodyhome {
	height: 90vh;
	width: 100%;
	/* background: #9F8170; */
}


.login {
	width: 100%;
}

.loginBox {
	/* background: #9F8170; */
	padding: 100px 100px 50px 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 60%;
	font-size: 14px;
	border-radius: 5px;
}

.feedbody{
    width: 70%;
    /* position: absolute; */
    margin: auto;
    /* top: -100%; */
    overflow-y: scroll;
    flex: 1;
    /* height: 90vh; */
    
}::-webkit-scrollbar {
        display:none;
    }
.feedbodyAlt{
    width: 70%;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-25%, -25%);
    /* top: -100%; */
    overflow-y: scroll;
    flex: 1;
    /* height: 90vh; */
}
.Feed{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.FeedHeader{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    height: 25%;
    margin-bottom: 5vh;
}
.FeedText{
    margin-top: -10%;
    width: 100%;
    margin-left: 60px;
    font-size: 16px;
    white-space: pre;
}
.FeedCardDescription{
    margin-top: -10%;
    width: 100%;
    margin-left: 60px;
    font-size: 20px;

}
/* img {
    display: inline;
    margin: 0 auto;
    height: 30px;
    width: 30px; 
    margin-right: 10px; 
} */